.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.navbar .collapse {
    flex-grow: unset;
}

.navbar .nav-link {
    color: #031229;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 19px;
    margin: 0 10px;
    font-weight: 400;
}

.navbar .call {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5cb85c;
    color: #fff;
    padding: 0 8px;
    border-radius: 5px;
    
}

.navbar .call a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #fff;
}